@media (max-width: 768px) {
   main {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .BannerLogo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto; 
    padding: 1rem;
  }

  .banner-image {
    display: none; 
  }

  .logo-image {
    position: static; 
    transform: none; 
    height: 8rem; 
    margin-bottom: 1rem;
  }

  .banner-text {
    position: static;
    margin-top: 2.5rem;
    max-width: 100%;
    text-align: center;
    color: #010036;
  }

  .banner-text h1 {
    font-size: 1.5rem; 
    line-height: 1.4;
  }
}